@inherits LayoutComponentBase

<body>
    <header>
        <NavMenu />
    </header>

    <main>
        @Body
    </main>

 @*    <footer class="footer row mt-auto">
        <Footer />
    </footer> *@

</body>

