@inherits LayoutComponentBase

<body>
    <div class="wrapper">
        <header>
            <NavMenu />
        </header>

        <main class="content">
            @Body
            <MathRecognitionService.Components.Shared.CultureSelector />
        </main>

        <div class="footer">
            <Footer />
        </div>
    </div>
</body>

